body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    /*set max width that can scale when shrunk*/
    display:block;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);;
  }

img.frontpage-image {
    width: fit-content;
    max-width: 100%;
  }

  /* style navigation */
  ul{
    display:contents;
  }

  ul li{
    display:contents;
  }

  nav{
    display:flex;
    margin-bottom: 15;
  }

  nav a{
    flex:1;
    text-decoration: none;
    color: inherit;
    text-align:center;
    padding:0.5em;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:oklch(80% 3% 200);
  }

  .current{
    font-weight:bold;
    padding:0.5em;
    border-bottom-width:.4em;
    border-bottom-color:oklch(80% 3% 200 / .7);

  }

  html{
    --color-accent: oklch(70% 0.1 120);
    accent-color: var(--color-accent);
  }

  a:hover{
    padding:0.5em;
    border-bottom-width:.4em;
    border-bottom-color: var(--color-accent);
    background-color: oklch(from var(--color-accent) 95% 5% h)
  }

  form{
    display:grid;
    grid-template-columns: auto 1fr;
  }

  form label{
    display:grid;
    grid-template-columns: subgrid;
    grid-column:1/-1;
    gap:1em;
  }

  form button{
    display:grid;
    grid-template-columns: subgrid;
    gap:1em;
    grid-column:1/-1;
    justify-content: center;

  }

  input{
    font:inherit;
  }

  textarea{
    font:inherit;
  }

  .projects{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap:1em;
  }

  .projects article{
    display:grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 2em;

  }

  .project article h2{
    margin: 0;
  }

  h1{
    font-size: 4em; 
  }

  h1, h2, h3, h4, h5{
    line-height: 1.1;
    text-wrap:balance;
  }

  .resumebody h2{
    color:crimson;
    text-align: center;
    margin-bottom: .1em;
  }

  .resumebody section{
    margin-bottom:4em;
  }
  
  .resumedetail p{
    text-align: center;
    padding-bottom:0.5em;
    padding-left:2em;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:oklch(80% 3% 200);
  }


  .resumebody h4{
    margin-block-end:.2em;
  }

  .resumebody h5{
    color:darkgray;
    font-weight: normal;
    margin:.2em;
  }

  .resumebody p{
    display:flex;
  }

  .resumebody .pro p{
    padding-left:.2em;
  }

  .resumebody ul{
    display:block;
    list-style-type: disc;
  }

  .resumebody li{
    display:block;
  }




  

